@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 193, 43;
  --background-end-rgb: 255, 193, 43;
  /* --font-title: "Roboto", sans-serif; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Style links */
/* https://chat.openai.com/c/9cf40038-53dc-46d3-9303-4cc6b7ed95cb */
html a {
  /* color: rgb(var(--foreground-rgb)); */
  /* Steel blue */
  color: #4682b4;
  /* color: #7cb9e8; */
  /* text-decoration: none; */
}

/* @media (prefers-color-sceme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

/* 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

button {
  border: "2px solid black";
}

.trcButton {
  @apply mt-4 px-4 py-2 bg-[#FFF] text-darkFont rounded hover:bg-[#FFF] rounded-full border-2 border-[#FFC122];
}

/* test */
.suggestion-buttons {
  position: absolute;
  display: flex;
  gap: 8px;
  /* Additional styling */
}
