@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* https://github.com/AntonioErdeljac/next-auth-v5-advanced-guide/blob/master/app/globals.css */
html,
body,
:root {
  height: 100%;

  overscroll-behavior: none;
}

:root {
  /* https://ui.shadcn.com/docs/theming */
  /* Not clear how to theme with shadcn */
  /* --primary: 222.2 47.4% 11.2%; */
  /* --primary-foreground: 210 40% 98%; */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 193, 43;
  --background-end-rgb: 255, 193, 43;
  /* --font-title: "Roboto", sans-serif; */

  /* from trc inspiration */
  --trc-black: rgb(0 0 0);
  --trc-white: rgb(255 255 255);
  --trc-stone-50: rgb(250 250 249);
  --trc-stone-100: rgb(245 245 244);
  --trc-stone-200: rgb(231 229 228);
  --trc-stone-300: rgb(214 211 209);
  --trc-stone-400: rgb(168 162 158);
  --trc-stone-500: rgb(120 113 108);
  --trc-stone-600: rgb(87 83 78);
  --trc-stone-700: rgb(68 64 60);
  --trc-stone-800: rgb(41 37 36);
  --trc-stone-900: rgb(28 25 23);

  --trc-highlight-default: #ffffff;
  --trc-highlight-purple: #f6f3f8;
  --trc-highlight-red: #fdebeb;
  --trc-highlight-yellow: #fbf4a2;
  --trc-highlight-blue: #c1ecf9;
  --trc-highlight-green: #acf79f;
  --trc-highlight-orange: #faebdd;
  --trc-highlight-pink: #faf1f5;
  --trc-highlight-gray: #f1f1ef;

  /* https://github.com/AntonioErdeljac/next-auth-v5-advanced-guide/blob/master/app/globals.css */
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  background-image: url("/BG-9.jpg");
  /* Maybe I'd like repeat with a proper img, but it works fine I feel */
  /* background-size: cover; */
  /* background-repeat: repeat; */
}

/* Style links */
/* https://chat.openai.com/c/9cf40038-53dc-46d3-9303-4cc6b7ed95cb */
html a {
  /* color: rgb(var(--foreground-rgb)); */
  /* Steel blue */
  color: #4682b4;
  /* color: #7cb9e8; */
  /* text-decoration: none; */
}

/* @media (prefers-color-sceme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

/* 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

button {
  border: "2px solid black";
}

.trcButton {
  @apply mt-4 px-4 py-2 bg-[#FFF] text-darkFont rounded hover:bg-[#FFF] rounded-full border-2 border-[#FFC122];
}

/* test */
.suggestion-buttons {
  position: absolute;
  display: flex;
  gap: 8px;
  /* Additional styling */
}

/* https://chat.openai.com/c/e537593d-607e-4914-a20c-3f14d3996087 */
.reset-a-styles {
  color: inherit; /* Makes the link color inherit from parent elements */
  text-decoration: none; /* Removes underline from links */
  background-color: transparent; /* Removes any background color */
  /* Add any other resets you need, e.g., padding, margin, border, etc. */
}
